.header {
    width: 100%;
    margin:0;
    padding: 0.7%;
    background-color: white;
    box-sizing: border-box;
}
@media screen and (max-width: 420px) {
    .header {
        width: 105%;
    }
}

.nav-links {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
}

.nav-links a{
    margin-left: 5%;
    padding:5px;
}

.active{
    text-decoration: none;
    /* padding: px; */
    padding: 5px 9px 5px 9px;
    /* background-color: #abe98e; */
    cursor: pointer;
}